.content {
    margin: 0 auto;
    width: 900px; 
    font-family: 'Nunito Sans',Helvetica, Georgia, 'Times New Roman', Times, serif;
  } 
.normal-text {
    font-size: 18px;
}
h1#headline {
text-align: center;
font-weight: bold;
font-size: 3em;
padding-top: 15px;
}
p.header {
    color:#E36342;
    font-family: Staatliches, Helvetica, Georgia;
    font-weight: bold;
    font-size: 45px;
    margin: 5px, 5px, 5px, 5px;
}
h2 {
    font-family: Staatliches, Helvetica, Georgia;
    font-size: 2.5em;
    padding-top: 15px;
    text-align: center;
}
#byline {
font-size: 1em;
text-transform: uppercase;
text-align: center;
font-style: italic;
}
#photo-caption {
font-size: 1em;
color:darkgrey;   
}
figcaption {
margin-left: 227px;
}
img {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}
.masthead
    {
        background-image: url(final-masthead.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        min-height:100vh;  /* responsive height */
    }
.container {
    margin-bottom: 25px;
    width: 100%;
}
.relative {
    position: relative;
}

.image-bg {
    background-image: url(Unsplash-image.avif);
    width: 50%;
    position: absolute;
    left: 0px;
    height: 100%;
}


.px-4 {
    background-color: #F8B66B;
}

.block-wrapper {
    display: flex;
}

.block-wrapper div {
    margin: auto;
    max-width: 20em;
}

.img-full {
    width: 100%;
    height: auto;
}
img-full2 {
    width: 100%;
    height: auto;
    right: 0;
}
.pullquote {
    color: #D6A37E;
    width: 100%;
    font-weight: bold;
    padding: 13px;
    margin: 0 13px 13px 0;
    font-size: 28px;
    font-family: 'Nunito Sans',Helvetica, Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    border-top: #E36342;
    border-bottom: #E36342;
    border-width: 3px;
    border-style: solid;
    border-left: none;
    border-right: none;
}
.normal-text {
    margin: auto;
    width: 900px; 
    font-family: 'Nunito Sans',Helvetica, Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
    padding: auto;

}
.graphs {
    border-width: 15px;
    border-color: #F8B66B;
    border-style: solid;
    padding: 25px,25px,25px,25px;
    padding: 25px, 25px, 25px, 25px;
    margin-bottom: 15px;
}
.side-text {
    line-height: 2 ;
    font-size: 20px;
    font-family: 'Nunito Sans',Helvetica, Georgia, 'Times New Roman', Times, serif;
}
.navbar-brand {
    margin-left: 5px;
}

.button {
    background-image: ;
}
/* CSS */
.button-54 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 38px;
    margin-bottom: 15px;
  }
  
  .button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }
  p.photo-caption {
    color: gray;
  }
  
  @media (min-width: 768px) {
    .button-54 {
      padding: 0.25em 0.75em;
    }
}
p.photo-caption {
    
}
iframe.graphs {
    width: 100%;
}
script.graphs {
    width:100%;
}


@media (min-width: 576px) { .graphs {
    width: 100%;
    
} 
p.photo-caption {
    color: white;
}
}
p.photo-caption {
    
}
}

@media (max-width: 768px) { .graphs {
    width: 100%;}
    p.photo-caption {
        color: white;
    }
    p.side-text {
        font-size: 17px;
        margin:auto;
    }
    p.normal-text {
        font-size: 12px;
        margin:auto;
    }
}
p.photo-caption {
    color: white;
} }

@media (min-width: 768px) and (max-width: 991px) { .graphs {
    width: 100%;
}
p.photo-caption {
    color: white;
} 
p.side-text {
    font-size: 17px;
    margin:auto;
}
p.normal-text {
    font-size: 12px;
    margin:auto;
}


}

@media (min-width: 992px) and (max-width: 1199px) { .graphs {
    width: 100%;
} 
p.photo-caption {
    color: grey;
}
}

@media (min-width: 1200px) { .graphs {
    width: 100%;}
    p.photo-caption {
        color: grey;
    }
 }

@media (min-width: 1400px) { .graphs {
    width: 100%;
}
p.photo-caption {
    color: grey;
} }
.second-chunk {
    width: 100%;
}