#content {
    margin: 0 auto;
    width: 900px; 
  } 
  #byline {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-style: italic;
    }
h1.organization {
    font-family: 'Verdana', Times, serif;
    font-size: 100px;
    background-image: url(mastheadbackground.jpeg);
    background-color:royalblue;
    font-style: bold;
    text-align: center;
}