#content {
    margin: 0 auto;
    width: 900px; 
  } 
  #byline {
    font-family: Helvetica, sans-serif, Arial;
    font-size: 14px;
    font-style: italic;
    }
#headline {
    font-size: 58px;
    font-style:oblique;
}
#organization {
    font-family: 'Helvetica', Times, serif, Arial;
    font-size: 95px;
    background-image: url(/Users/mjgodnick/Documents/GitHub/monicagodnick-jour352/godnick_layout/images/mastheadbackground.final.png);
    background-size: 100%, 100%;
    background-color:royalblue;
    font-style: bold;
    text-align: center;
    color:aliceblue;
    text-decoration: aliceblue;
}
p {
font-family: Georgia, serif, Helvetica, Verdana;
font-size: 13px
}
blockquote {
  font:helvetica, sans-serif, 'Times New Roman', Arial; 
  font-size:50px ;
  font-style: italic; 
  margin-top: 15px; 
  margin-bottom: 15px; 
  color:rgb(8, 52, 133); 
  margin-left: 50px; 
  padding-left: 15px; 
  border-left: 4px solid #ccc; 
  } 
 
p.piccaption {
font-size: 10.5px;
 }

  
