body {
  font-family: 'Open Sans', sans-serif;
  font-color: #444;
}
h1 {
  font-size: 3em;
  font-color: #33485e;
  text-align: center;
}
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;

}
