/* styles for my resume */
body {
  font-family: 'Open Sans', Arial, sans-serif;
  color: #444;
  font-weight: 400;
}
/* banner name at top*/
.name {
  font-size: 3em;
  color: #33485e;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}
/* image right below the banner name */
.description {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
}
/* title right below image  */
#title {
  text-transform: uppercase;
  color: #33485e;
  font-size: 1.5em;
  font-weight:600;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
/* sections of resume */
.sectionheader {
  font-size: 1.5em;
  color:#FFFFFF;
  text-transform: uppercase;
  background-color: #33485e;
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 20;
  margin-left: 0;
  margin-right: 0;
  width: 70%;
  min-width: 300px;
}
/* inside Contact Info, Skills, Education */

/* job titles under "Journalism Experience" */
.jobtitle {
  font-size: 1.5em;
  font-weight: 600;
}
/* organizations */
.organization {
  font-size: 1.25em;
  font-weight: 400;
}
/* job dates */
.date {
  font-size: 1em;
  font-style: italic;
  font-weight: 400;
  margin-top: 2px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
}
.font-size {
  font-size: 1em;
}
.menu{
  display: inline;
  margin: 0;
  text-align: center;
  padding: 0;
}
.degrees {
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
}
.do {
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
}
.top {
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
}
#id {
  width: 100%;
  max-width: 1200 px;
  margin: 0 auto;
  padding-bottom: 50px;
}
