/* styles for my resume */
body {
  font-family: 'Open Sans', Arial, sans-serif;
  color: #444;
  font-weight: 400;
}
/* banner name at top*/
h1 {
  font-size: 3em;
  color: #33485e;
  text-align: center;
  text-transform: uppercase;
}
/* image right below the banner name */
p {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1em;
}
/* title right below image  */
strong {
  text-transform: uppercase;
  color: #33485e;
  font-size: 1.5em;
}
/* sections of resume */
h2 {
  font-size: 1.5em;
  color:#FFFFFF;
  text-transform: uppercase;
  background-color: #33485e;
  font-weight: 400;
}
/* inside Contact Info, Skills, Education */
li {
  font-size: 1em;
  font-weight: 400;
}
/* job titles under "Journalism Experience" */
h3 {
  font-size: 1.5em;
  font-weight: 600;
}
/* organizations */
h4 {
  font-size: 1.5em;
  font-weight: 400;
}
/* job dates */
h5 {
  font-size: 1em;
  font-style: italic;
  font-weight: 400;
}
