body {
  font-family: 'Open Sans', Arial, sans-serif;
  text-color: #444;
}
h1 {
  font-size: 3em;
  text-color #33485e;
  text-align: center;
  text-transform: capitalize;
}
p {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1em;

}
