body {
  font-family: 'Open Sans', Arial, sans-serif;
  color: #444;
}
h1 {
  font-size: 3em;
  color: #33485e;
  text-align: center;
  text-transform: uppercase;
}
p {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1em;
}
.title-uppercase {
  text-transform: uppercase;
  color: #33485e;
  font-size: 1.5em;
}
