/* styles for my resume */
nav.navbar navbar-expand-lg navbar-light bg-light {
  position: fixed;
  bottom: 0;
  right: 0;
}
.top-header {
  background-image: url("monica.jpg");
  height: 550px;
  width: 100%;
  background-size:cover;
  background-repeat: no-repeat;
  background-position:center;
  padding: 0%;
}
strong.name {
  color: white;
  
}
.about {
  width: 100%;
  height: 200;
  text-align: center;
  letter-spacing: 2px;
}
body {
  font-family: 'Open Sans', Arial, sans-serif;
  color: #444;
  font-weight: 400;
}
/* banner name at top*/
/*I kept name as a class instead of id because when I would put id the border would change and the font size would get small. */
.name {
  font-size: 3em;
  color: #33485e;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}
#container {
    width: 100%; 
    padding: 0px 50px 75px 100px;
  }
h2.sectionheader{
  padding: 0;
  margin-left:-10px;
  margin-right: -10px;
}

/* image right below the banner name */
.description {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
}
/* title right below image  */
#title {
  text-transform: uppercase;
  color: #33485e;
  font-size: 1.5em;
  font-weight:600;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
/* sections of resume */
.sectionheader {
  font-size: 1.5em;
  color:#FFFFFF;
  text-transform: uppercase;
  background-color: #33485e;
  font-weight: 400;
  width: 100%;
  min-width: 300px;
  padding: 0;
  width: 100%;
  margin-left:-10px;
  margin-right: -20px;
}
/* inside Contact Info, Skills, Education */

/* job titles under "Journalism Experience" */
.jobtitle {
  font-size: 1.5em;
  font-weight: 600;
}
/* organizations */
.organization {
  font-size: 1.25em;
  font-weight: 400;
}
/* job dates */
.date {
  font-size: 1em;
  font-style: italic;
  font-weight: 400;
  margin-top: 2px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
}
.font-size {
  font-size: 1em;
}
.menu {
  margin: 0 auto;
  padding: 0 auto;
  position: relative;
  text-align: center;
}
.menu li {
  display: inline;
}

#degrees {
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
}
#do {
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
}
.top {
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
}

