/* styles for my resume */
nav.navbar navbar-expand-lg navbar-light bg-light {
  position: relative;
  bottom: 0;
  right: 0;
}
.top-header {
  background-image: url("monica.jpg");
  height: 550px;
  width: 100%;
  background-size:cover;
  background-repeat: no-repeat;
  background-position:center;
  padding: 0%;
}
strong.name {
  color: white;
  padding-top: 30px;
  position: absolute;
  bottom: 300px;
  left: -190px;
  font-size: 8.3em;
  text-transform: none;
}
strong.last-name {
  color: white;
  padding-top: 30px;
  position: absolute;
  bottom: 150px;
  left: 20px;
  font-size: 8.3em;
  text-transform: none;
}
.about {
  width: 100%;
  height: 200;
  text-align: center;
  letter-spacing: 2px;
}
body {
  font-family: 'Open Sans', Arial, sans-serif;
  color: #444;
  font-weight: 400;
}
/* banner name at top*/
/*I kept name as a class instead of id because when I would put id the border would change and the font size would get small. */
.name {
  font-size: 3em;
  color: white;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}
.container {
    width: 100%; 
    padding: 0px 50px 75px 100px;
  }
h1 {
  color: #707070;
}
/* sections of resume */
#sectionheader {
  padding-top: 10px;
  padding-left: 5px;
  padding-bottom: 10px;
  margin-left:-70px;
  margin-right:-100px ;
  height: 55px;
  font-size: 2em;
  color:#FFFFFF;
  text-transform: uppercase;
  background-color: #DDBEA9;
  font-weight: bolder;
  width: 115%;
  min-width: 300px;
  border: 0;
}


/* image right below the banner name */
.description {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
}
/* title right below image  */
#title {
  text-transform: uppercase;
  color: white;
  font-size: 1.7em;
  font-weight:600;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 0px;
  text-align: left;
 letter-spacing: 17px;
 padding: 10px,0,0,10px;
}

/* inside Contact Info, Skills, Education */

/* job titles under "Journalism Experience" */
.jobtitle {
  font-size: 1.5em;
  font-weight: 600;
}
/* organizations */
.organization {
  font-size: 1.25em;
  font-weight: 400;
}
/* job dates */
.date {
  font-size: 1em;
  font-style: italic;
  font-weight: 400;
  margin-top: 2px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
}
ul.font-size.menu {
  bottom: -430px;
  right: 140px;
  display: inline;
}

.font-size {
  font-size: 1em;
}
.menu {
  margin-left: 0 auto;
  padding-right: 0 auto;
  position: relative;
  text-align:right;
  color: white;
}
.font-size.menu {
  display: inline;
}

#degrees {
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
}
#do {
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
}
.top {
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.row {
  height: 317px;
  width: 110%;
  background-color: #DDBEA9;
  margin-top: 10px;
  margin-left: -20px;
  margin-right: -10px;
  padding: 10px, 30px,, 80px, 30px;
}
.col-md-6{
background-color: #DDBEA9;
margin-left: -57px;
}
.eduskills{
  padding-top: 15px;
  padding-bottom: 0;
  text-align: center;
  font-size: 2.5em;
  font-weight: bolder;
  color: white;
  margin-left: 10px;
}
.list {
  padding-left: 70px;
  margin-left: 10px;

}
#left-border {
  border-left: 1px solid black;
}
p#umd {
  font-weight: bold;
  padding-bottom: 0;
  margin-bottom: 0;
}

