.content {
    margin: 0 auto;
    width: 900px; 
    font-family: Helvetica, Georgia, 'Times New Roman', Times, serif;
  } 
  h1#headline {
    text-align: center;
    font-weight: bold;
    font-size: 3em;
}
#byline {
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    font-style: italic;
}
#photo-caption {
    font-size: 1em;
   color:darkgrey;