#organization {
    background-image: url(images/masthead.png);
    background-position: center;
    font-family: 'Brush Script MT', cursive, Times, serif, Arial;
    font-size: 100px;
    height:130px;
    background-color:royalblue;
    font-style: oblique;
    text-align: center;
    color:#1E2A56;
    margin-top: 0%;
}