#organization {
    background-image: url(images/masthead.png);
    background-position: center;
    font-family: 'Courier New', monospace, Times, serif, Arial;
    font-size: 100px;
    height:140px;
    background-color:royalblue;
    text-align: center;
    color:#1E2A56;
    margin-top: 0%;
}