#organization {
    background-image: url(images/masthead.png);
    font-family: 'Helvetica', Times, serif, Arial;
    font-size: 100px;
    height: 1920px;
    background-color:royalblue;
    font-style: bold;
    text-align: center;
    color:black;
  
}