#organization {
    background-image: url(images/masthead.png);
    background-position: center;
    font-family: 'Helvetica', Times, serif, Arial;
    font-size: 100px;
    height:200px;
    background-color:royalblue;
    font-style: bold;
    text-align: center;
    color:black;
}