#content {
    margin: 0 auto;
    width: 900px; 
  } 
#headline {
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
#byline {
    font-family: Georgia, sans-serif, Arial;
    font-size: 14px;
    font-style: italic;
    }
    p {
        font-family: Helvetica, Arial, sans-serif;
        font-size: 12px
        }
    .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
          }
.subhead {
    font-family: helvetica, Arial, sans-serif;
    color:#AC1820;
    word-spacing: 50%;
    font-weight:bolder;
}
/* blockquote always displayed before the actual quote in the story*/ 
blockquote{
    font:helvetica, sans-serif, 'Times New Roman', Arial; 
    font-size:40px ;
    font-style: italic; 
    margin-top: 15px; 
    margin-bottom: 15px; 
    color:rgb(88, 88, 88); 
    margin-left: 50px; 
    padding-left: 15px; 
    border-left: 4px solid #ccc; 
    } 
}


p.piccaption {
    font-size: 10.5px;
     }
.related {
    background-size: 100%, 100%;
    background-color:royalblue;
    color:aliceblue;
}