#organization {
    background-image: url(images/masthead.png);
    background-position: center;
    font-family: 'Verdana', Times, serif, Arial;
    font-size: 100px;
    height:150px;
    background-color:royalblue;
    font-style: oblique;
    text-align: center;
    color:#215D6E;
    margin-top: 0%;
}